# DATA PREPARITION NOTEBOOK

In [8]:
import numpy as np
import pandas as pd
import seaborn as sb

## Importing Datasets

In [9]:
customerdata = pd.read_csv("olist_customers_dataset.csv")
orderitems = pd.read_csv("olist_order_items_dataset.csv")
orderpayments = pd.read_csv("olist_order_payments_dataset.csv")
orderreviews = pd.read_csv("olist_order_reviews_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
translation = pd.read_csv("product_category_name_translation.csv")
datasetlist = [orderitems,orderpayments,orderreviews,orders,products,translation]

## Basic Data Exploration

In [10]:
for x in datasetlist:
    x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Checking for Discrepancies

In [11]:
print(len(orderitems.order_id.unique()))
print(len(orders.order_id.unique()))
print(len(orderpayments.order_id.unique()))
print(len(orderreviews.order_id.unique()))

98666
99441
99440
99441

### Missing values of order_id found between the datasets. Filter out the missing values and find out the reason why they are dropped between datasets.

In [12]:
#Finding list of missing order_id
missinglist = []
testset = set(orderitems.order_id)
for x in orders.order_id:
    if x in testset:
        continue
    else:
        missinglist.append(x)
        

#Extracting missing data from orders dataset
missingdf = pd.DataFrame
missingdf = orders[orders['order_id'].isin(missinglist)]
missingdf.info()
missingdf

<class 'pandas.core.frame.DataFrame'>
Int64Index: 775 entries, 266 to 99415
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       775 non-null    object
 1   customer_id                    775 non-null    object
 2   order_status                   775 non-null    object
 3   order_purchase_timestamp       775 non-null    object
 4   order_approved_at              629 non-null    object
 5   order_delivered_carrier_date   1 non-null      object
 6   order_delivered_customer_date  0 non-null      object
 7   order_estimated_delivery_date  775 non-null    object
dtypes: object(8)
memory usage: 54.5+ KB

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
266,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaN,NaN,2017-12-05 00:00:00
586,c272bcd21c287498b4883c7512019702,9582c5bbecc65eb568e2c1d839b5cba1,unavailable,2018-01-31 11:31:37,2018-01-31 14:23:50,NaN,NaN,2018-02-16 00:00:00
687,37553832a3a89c9b2db59701c357ca67,7607cd563696c27ede287e515812d528,unavailable,2017-08-14 17:38:02,2017-08-17 00:15:18,NaN,NaN,2017-09-05 00:00:00
737,d57e15fb07fd180f06ab3926b39edcd2,470b93b3f1cde85550fc74cd3a476c78,unavailable,2018-01-08 19:39:03,2018-01-09 07:26:08,NaN,NaN,2018-02-06 00:00:00
1130,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaN,NaN,NaN,2018-09-12 00:00:00
...,...,...,...,...,...,...,...,...
99252,aaab15da689073f8f9aa978a390a69d1,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

### Missing order_ids found to be cancelled / unsuccessful orders. As such, we will drop these orders from all datasets.

In [13]:
neworders = orders[~orders.order_id.isin(missinglist)]
neworderpayments = orderpayments[~orderpayments.order_id.isin(missinglist)]
neworderreviews = orderreviews[~orderreviews.order_id.isin(missinglist)]

print(len(orderitems.order_id.unique()))
print(len(neworders.order_id.unique()))
print(len(neworderpayments.order_id.unique()))
print(len(neworderreviews.order_id.unique()))

98666
98666
98665
98666

### There is still one missing value in order payments. Let's find out

In [14]:
missinglist = []
testset = set(neworderpayments.order_id)
for x in orderitems.order_id:
    if x in testset:
        continue
    else:
        missinglist.append(x)

#Extracting missing data from orders dataset
missingdf = pd.DataFrame
missingdf = neworderreviews[neworderreviews['order_id'].isin(missinglist)]
missingdf

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
37828,6916ca4502d6d3bfd39818759d55d536,bfbd0f9bdef84302105ad712db648a6c,1,NaN,nao recebi o produto e nem resposta da empresa,2016-10-06 00:00:00,2016-10-07 18:32:28

##### "nao recebi o produto e nem resposta da empresa" =  I did not receive the product and no response from the company
##### So we will drop this order_id as well
##### Seems to have some missing values in delivery date under orders dataset as well

In [15]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

#### Presence of NA values in column 5 and 6. As such, we will drop those too.

In [16]:
x = orders[orders['order_delivered_customer_date'].isna()]
a = x.order_id.tolist()
y = orders[orders['order_delivered_carrier_date'].isna()]
b = x.order_id.tolist()
z = orders[orders['order_approved_at'].isna()]
c = x.order_id.tolist()
d = a+b+c+missinglist
miss = set(d)

newerorders = neworders[~neworders.order_id.isin(miss)]
newerorderpayments = neworderpayments[~neworderpayments.order_id.isin(miss)]
newerorderreviews = neworderreviews[~neworderreviews.order_id.isin(miss)]
newerorderitems = orderitems[~orderitems.order_id.isin(miss)]

print(len(newerorderitems.order_id.unique()))
print(len(newerorders.order_id.unique()))
print(len(newerorderpayments.order_id.unique()))
print(len(newerorderreviews.order_id.unique()))

newerorders[newerorders["order_delivered_customer_date"].isna()]

96475
96475
96475
96475

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

## Here we will create a new column "delivery_time" based on the order date and delivery date. We also translate the category names. We will use these variables in our decision tree later

In [17]:
from datetime import date
 
def numOfDays(date1, date2):
    return (date2-date1).days

datexy = newerorders[["order_id","order_purchase_timestamp","order_delivered_customer_date"]]
datexy.reset_index(inplace=True)
datex=newerorders.order_purchase_timestamp
datey=newerorders.order_delivered_customer_date

delivery_days = []
datexy['delivery_time'] = np.nan
for x in range(96475):
    year1=datexy.loc[x]["order_purchase_timestamp"][:4]
    month1=datexy.loc[x]["order_purchase_timestamp"][5:7]
    day1=datexy.loc[x]["order_purchase_timestamp"][8:10]
    year2=datexy.loc[x]["order_delivered_customer_date"][:4]
    month2=datexy.loc[x]["order_delivered_customer_date"][5:7]
    day2=datexy.loc[x]["order_delivered_customer_date"][8:10]
    date1 =date(int(year1),int(month1),int(day1))
    date2 =date(int(year2),int(month2),int(day2))
    if numOfDays(date1,date2)!=0:
        #delivery_days.append(numOfDays(date1, date2))
        datexy.loc[x, "delivery_time"] = numOfDays(date1, date2)
        #print(numOfDays(date1,date2))
        
# Merge the dataframes to obtain new column for delivery time
newerorders = pd.merge(newerorders,datexy[['order_id','delivery_time']],on='order_id', how='left')

<ipython-input-17-6a5d14ee95d1>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datexy['delivery_time'] = np.nan
C:\Users\bawj\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

### Now we will concat these dataframes together

In [18]:
new = pd.merge(newerorderitems, newerorderpayments, on='order_id')
new1 = pd.merge(new, newerorderreviews, on='order_id')
new2 = pd.merge(new1, newerorders, on='order_id')
completedata = pd.merge(new2, products, on='product_id')

# translate category names to english
translate = translation.set_index('product_category_name').to_dict()['product_category_name_english']

completedata['product_category_name'].replace(translate, inplace=True)

## Still have some null values in product category, description, etc. We will drop all these rows.

In [19]:
finaldata = completedata.dropna(subset = ['product_category_name','product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm','delivery_time'])
finaldata["product_category_name"] = finaldata["product_category_name"].astype('category')
finaldata["product_category_name"] = finaldata["product_category_name"].cat.codes
finaldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114087 entries, 0 to 115726
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       114087 non-null  object
 1   order_item_id                  114087 non-null  int64
 2   product_id                     114087 non-null  object
 3   seller_id                      114087 non-null  object
 4   shipping_limit_date            114087 non-null  object
 5   price                          114087 non-null  float64
 6   freight_value                  114087 non-null  float64
 7   payment_sequential             114087 non-null  int64
 8   payment_type                   114087 non-null  object
 9   payment_installments           114087 non-null  int64
 10  payment_value                  114087 non-null  float64
 11  review_id                      114087 non-null  object
 12  review_score                   114087 non-null  int64
 13  review_comment_title           13667 non-null   object
 14  review_comment_message         48234 non-null   object
 15  review_creation_date           114087 non-null  object
 16  review_answer_timestamp        114087 non-null  object
 17  customer_id                    114087 non-null  object
 18  order_status                   114087 non-null  object
 19  order_purchase_timestamp       114087 non-null  object
 20  order_approved_at              114073 non-null  object
 21  order_delivered_carrier_date   114086 non-null  object
 22  order_delivered_customer_date  114087 non-null  object
 23  order_estimated_delivery_date  114087 non-null  object
 24  delivery_time                  114087 non-null  float64
 25  product_category_name          114087 non-null  int8
 26  product_name_lenght            114087 non-null  float64
 27  product_description_lenght     114087 non-null  float64
 28  product_photos_qty             114087 non-null  float64
 29  product_weight_g               114087 non-null  float64
 30  product_length_cm              114087 non-null  float64
 31  product_height_cm              114087 non-null  float64
 32  product_width_cm               114087 non-null  float64
dtypes: float64(11), int64(4), int8(1), object(17)
memory usage: 28.8+ MB

<ipython-input-19-c7f2777c29ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finaldata["product_category_name"] = finaldata["product_category_name"].astype('category')
<ipython-input-19-c7f2777c29ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finaldata["product_category_name"] = finaldata["product_category_name"].cat.codes

## Here we will add another new column "review_response_days" based on the creation and response date of the review

In [20]:
dateab = completedata[["review_id","review_creation_date","review_answer_timestamp"]]
dateab.reset_index(inplace=True)
datea=completedata.review_creation_date
dateb=completedata.review_answer_timestamp
review_response_days = []
dateab['review_response_days'] = np.nan
for x in range(115726):
    yeara=dateab.loc[x]["review_creation_date"][:4]
    montha=dateab.loc[x]["review_creation_date"][5:7]
    daya=dateab.loc[x]["review_creation_date"][8:10]
    yearb=dateab.loc[x]["review_answer_timestamp"][:4]
    monthb=dateab.loc[x]["review_answer_timestamp"][5:7]
    dayb=dateab.loc[x]["review_answer_timestamp"][8:10]
    dateA =date(int(yeara),int(montha),int(daya))
    dateB =date(int(yearb),int(monthb),int(dayb))
    if numOfDays(dateA,dateB)!=0:
        #delivery_days.append(numOfDays(date1, date2))
        dateab.loc[x, "review_response_days"] = numOfDays(dateA, dateB)
        #print(numOfDays(dateA,dateB))

        
finaldata = pd.merge(completedata,dateab[['review_id','review_response_days']],on='review_id')

<ipython-input-20-e64e0fee0e00>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dateab['review_response_days'] = np.nan
C:\Users\bawj\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

# The complete dataset

In [21]:
finaldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192761 entries, 0 to 192760
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       192761 non-null  object
 1   order_item_id                  192761 non-null  int64
 2   product_id                     192761 non-null  object
 3   seller_id                      192761 non-null  object
 4   shipping_limit_date            192761 non-null  object
 5   price                          192761 non-null  float64
 6   freight_value                  192761 non-null  float64
 7   payment_sequential             192761 non-null  int64
 8   payment_type                   192761 non-null  object
 9   payment_installments           192761 non-null  int64
 10  payment_value                  192761 non-null  float64
 11  review_id                      192761 non-null  object
 12  review_score                   192761 non-null  int64
 13  review_comment_title           21879 non-null   object
 14  review_comment_message         83285 non-null   object
 15  review_creation_date           192761 non-null  object
 16  review_answer_timestamp        192761 non-null  object
 17  customer_id                    192761 non-null  object
 18  order_status                   192761 non-null  object
 19  order_purchase_timestamp       192761 non-null  object
 20  order_approved_at              192744 non-null  object
 21  order_delivered_carrier_date   192760 non-null  object
 22  order_delivered_customer_date  192761 non-null  object
 23  order_estimated_delivery_date  192761 non-null  object
 24  delivery_time                  192760 non-null  float64
 25  product_category_name          190028 non-null  object
 26  product_name_lenght            190028 non-null  float64
 27  product_description_lenght     190028 non-null  float64
 28  product_photos_qty             190028 non-null  float64
 29  product_weight_g               192731 non-null  float64
 30  product_length_cm              192731 non-null  float64
 31  product_height_cm              192731 non-null  float64
 32  product_width_cm               192731 non-null  float64
 33  review_response_days           147047 non-null  float64
dtypes: float64(12), int64(4), object(18)
memory usage: 51.5+ MB